* {
    color: rgb(215, 215, 215);
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size-adjust: 0.8;
}

.fullPageWidth , html {
    background-color: rgba(6, 6, 23, 0.8);
}

/*Nav bar line */
hr.navLine {
    border: 1px solid white;
    margin-top: 0px; !important;
}

/*Rocket loader*/
.loader {
    animation: rotation 8s infinite linear;
}

/*Table rows and Tooltip*/
.clickableRow span.RowComment{
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}
.clickableRow span.RowComment::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.clickableRow:hover span.RowComment{
    display: block;
    opacity: 1;
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

h1 {
    padding: 20px;
}

.sign {

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: radial-gradient(
            ellipse 50% 35% at 50% 50%,
            #217c78,
            transparent
    );
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #e6fffa, 0 0 1.5rem #65ffe3,
    -0.2rem 0.1rem 1rem #65fffa, 0.2rem 0.1rem 1rem #65ffff,
    0 -0.5rem 2rem #24ffed, 0 0.5rem 3rem #24fff8;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #e6faff, 0 0 1.5rem #65fffa,
        -0.2rem 0.1rem 1rem #65ffff, 0.2rem 0.1rem 1rem #65ffff,
        0 -0.5rem 2rem #24deff, 0 0.5rem 3rem #24bdff;
    }
    28%,
    33% {
        color: #65edff;
        text-shadow: none;
    }
    82%,
    97% {
        color: #24bdff;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #18556b;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #e6f8ff, 0 0 1.5rem #65e8ff,
        -0.2rem 0.1rem 1rem #65edff, 0.2rem 0.1rem 1rem #65e3ff,
        0 -0.5rem 2rem #24bdff, 0 0.5rem 3rem #24e5ff;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}